---
import Layout from '@layouts/Layout.astro';
import { siteConfig } from '@config/site';
import DateTimeSelector from '../components/DateTimeSelector.jsx';
---

<Layout
  title="Food Logger - " + siteConfig.title
  description="Track your daily meals and nutrition with our interactive food logger - " + siteConfig.title
  showBottomNav={true}
  showTopNav={true}
  wideContent={true}
>
  <main class="w-full pb-0 flex items-center justify-center min-h-[calc(100vh-160px)]">
        <DateTimeSelector client:load />
  </main>
</Layout>
